main {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
}

body {
    margin: 0px
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(200, 200, 200);
  margin-top: 10px;
}

.nav-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 50px; */
  font-size: larger;
}

#panel {
    background-color: white;
    height: 100px;
    padding-top: 1%;
}

#home-link {
    color: black;
    font-size: 50px;
    background-color: white;
    margin: 1%;
}

#index_page {
    background-image: url(../img/panel.jpg);
    padding: 50%;
    padding-top: 0%;
    padding-left: 2%;
    font-size: 40px;
}

.container{}